{% extends 'UCPAbsenceBundle::layout.html.twig' %}

{% block body %}
<h1>Google calendar sync</h1>

{% if account_email is not null %}
Sync with Google calendar is enabled on {{ account_email }} with calendar "{{ calendar_name }}".<br>
<a href="{{ path('sync_unlink') }}">Remove account</a> or <a href="{{ path('sync_calendar_choice') }}">change calendar</a>.
{% else %}
No Google account linked, click <a href="{{ path('sync_link') }}">here</a> to link an account.
{% endif %}
<br>
<i>Last sync on {{ last_sync|date() }}.

{% endblock %}