<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Take the Register{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800,600">
            {% stylesheets '@UCPAbsenceBundle/Resources/public/css/main.less' filter='?yui_css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div id="account-box">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ app.user.username }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ path('lesson') }}">Planning</a></li>
            <li><a href="{{ path('student_admin_list') }}">Étudiants</a></li>
            <li><a>Groupes</a></li>
            <li><a href="{{ path('user_admin_list') }}">Équipe pédogogique</a></li>
            <li><a href="{{ path('sync_index') }}">Paramètres</a></li>
        </ul>

        {% block body %}{% endblock %}
        {% block content %}{% endblock %}
        {% block javascripts %}
            {% javascripts "@zepto" "@underscore" "@backbone" "@handlebars_runtime" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
