{% set navigation_bar = {
    'lesson': 'Planning',
    'student_admin_list': 'Étudiants',
    'user_admin_list': 'Équipe pédogogique',
    'sync_index': 'Paramètres'
} %}
{% set active_page = active_page|default('lesson') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Take the Register{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800,600">
        {% stylesheets '@UCPAbsenceBundle/Resources/public/css/main.less' filter='yui_css' output="css/main.css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div id="account-box">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ app.user.username }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        {% block navigation %}
        <ul id="navigation" class="nav nav-tabs">
            {% for route, item in navigation_bar %}
            <li{% if route == active_page %} class="active"{% endif%}>
            <a href="{{ path(route) }}">{{ item }}</a></li>
            {% endfor %}
        </ul>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block content %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                "@js_routing"
                "@zepto"
                "@underscore"
                "@backbone"
                "@handlebars_runtime"
                output="js/libs.js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}
    </body>
</html>
