<div class="lesson-row">
    <div class="date">{{dateFormat start format="HH:mm"}} <span class="arrow"> &#x25BA;</span> {{dateFormat end format="HH:mm"}}</div>
    <div class="professor">{{professor.username}}</div>
    <div class="label"><a href="#planning/{{id}}">{{label}}</a></div>
    <div class="group">Classe entière</div>
</div>