<article class="lesson">
    <div class="lesson-row">
        <div class="date">{{dateFormat start format="hh:mm"}} &#x25BA; {{dateFormat end format="hh:mm"}}</div>
        <div class="professor">{{professor.username}}</div>
        <div class="label"><a href="#planning/{{id}}">{{label}}</a></div>
        <div class="group">Classe entière</div>
    </div>
</article>